.grid-container{
  display: grid;
  grid-template-columns: 1fr ;
}

@media only screen and (min-width: 640px){
  .grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  .main-container{
    margin-bottom: -300px;
  }
}

  @media only screen and (min-width: 1024px){
  .grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
  }

  .main-container{
    margin-bottom: 200px;
  }
}

  @media only screen and (min-width: 1396px){
  .main-container{
    margin-bottom: 500px;
  }
}
